{% extends "base.html" %}

{% load comments %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}

{% block h1 %}{{ article.title }}{% endblock %}

{% block content %}
{{ article.content }}

<div class="comments">
    <h3>Comentários</h3>

    {% get_comment_list for article as comments %}
    {% for comment in comments %}
        <h3>Envie um comentário</h3>
        <div class="comment">
            Nome: {{ comment.name }}<br>
            {% if comment.url %}URL: {{ comment.url }}{% endif %}<br>
            {{ comment.comment|linebreaks }}
            <hr />
        </div>
    {% endfor %}

    {% render_comment_form for article %}

</div>
{% endblock %}
